<h1>Hello Index</h1>


<form id="auth_form">
	<button id="go_button">GO!</button>

	<p>username</p>
	<input type="text" id="username"></input>
	</br>
	<p>password</p>
	<input type="text" id="password"></input>
</form>