!!!
%head
  %link{:rel => "stylesheet", :href => "/SLAReports/stylesheets/style.css"}
  %script{:src => '/js/jquery-1.7.2.min.js'}
  %script{:src => '/js/blob.js'}

  =js :app
%table{:id => "ver-zebra"}
  %colgroup